@import "flatpickr/dist/flatpickr.min.css";
@import "dashlite.css";
@import "skins/theme-blue.css";
/* Customizes the input field */

.flatpickr-calendar {
    border-radius: 4px;
    border: 1px solid #dbdfea;
    box-shadow: none;
}

.flatpickr-current-month {
    font-size: 17px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

.flatpickr-rContainer {
    font-size: 15px;
    font-family: Roboto, sans-serif;
}
